#portfolio {
    padding: 120px 0;
    background-color: #ffffff;
}

#portfolio h2 {
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);

    border: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.portfolio-card img {
    width: 100%;
}

.portfolio-card-content {
    padding: 32px 16px;
}

.portfolio-card h3 {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

.portfolio-card p {
    font-size: 14px;
    line-height: 1.5;
    color: #434455;
}